.home {
  padding: 0px 0px;
  width: 100%;
  scroll-behavior: smooth;
  height: 150vh;
  max-height: 100%;
  overflow-x: hidden;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-perspective-origin: center top;
          perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.parallax {
      height: 57vh;
      background: url("https://storage.googleapis.com/danielsmith/photo.png"),
        linear-gradient(to bottom,
        rgba(255,255,255,0.15) 0%,
        rgba(0,0,0,0.15) 100%),
        radial-gradient(at top center, rgba(255,255,255,0.40) 0%,
        rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: normal,normal;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 25px;
      vertical-align: top;
      -webkit-transform-origin: center top;
              transform-origin: center top;
      -webkit-transform: translateZ(-1px) scale(2);
              transform: translateZ(-1px) scale(2);
              margin-left: -5px;
}

@media (max-width: 520px) {
        .parallax {
                background-size: cover
        }
      }

.contents {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
          background-color: black;
}
