.project {
  border-top: 0.25rem solid #519AF7;
  padding: 50px;
  margin: 0px;
}

.project a {
  color: black;
}

.project h1,
.project h2,
.project ul,
.project p {
  margin-left: 100px;
}

.project p {
  margin-right: 100px;
}

@media (max-width: 680px) {
  .project {
    padding: 0px;
  }

  .project h1,
  .project h2,
  .project ul,
  .project p {
    margin-left: 0px;
  }

  .project p {
    font-size: 0.6em;
  }
}
