.project {
  border-top: 0.25rem solid #f9fea5;
  padding: 50px;
}

.project a {
  color: #f9fea5;
}

.project h1,
.project h2,
.project ul,
.project p {
  margin-left: 100px;
}

.project p {
  margin-right: 100px;
}

@media (max-width: 599px) {
  .project h1,
  .project h2,
  .project ul,
  .project p {
    margin-left: 0px;
  }
}
