.card {
  font-size: 1.5em;
  padding: 50px;
  margin: 0px;
  color: black;
  min-height: 50vh;
  font-family: "Open Sans", sans-serif;
}

.card h1,
.card h2,
.card ul,
.card p {
  margin-left: 100px;
}

.card p {
  margin-right: 100px;
}

.card .title {
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 680px) {
  .card {
    padding: default;
  }

  .card .title {
    font-size: 2em;
    margin-left: 0px;
  }

  .card img.right {
    float: none;
    height: 80vh;
  }

  .card h1,
  .card h2,
  .card ul,
  .card p {
    margin-left: 0px;
  }

  .card h1,
  h2 {
    font-size: 0.75em;
  }

  .card ul,
  p {
    font-size: 0.6em;
  }
}
